/* - Global - */
body{
  font-family: 'allerregular';
  background: black;

  /* disable text highlighting */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* disable touch feedback flash */
  -webkit-tap-highlight-color: rgba(0,0,0,0) !important;

}
h1,h3,h3{
  font-family: 'allerbold';
}

.screen {
  position: absolute;
  top:0px;
  left:0px;
}

video{
  width:100%;
  height:100%;
  background: #181f1c;
}

.mirrored{
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
}

.dev-panel {
  background-color: #292927;
  border: 2px solid #292927;
  border-radius: 10px;
  color: #FF3B41;
  margin:20px;
  padding: 20px;
  position: fixed;
}

.overlay {
  position: absolute;
  top:0px;
  left:0px;
}

/* - Booth - */
#intake_screen{
  top:0px;
  left:0px;
  overflow: hidden;
  width:1280px;
  height:1024px;
}

#intake_screen {
  color:#000;
}

#intake_screen .es {
  color:#777;
}

#intake_screen .popup-content.back h1 {
  line-height: 50%;
}

#intake_screen .popup-content.back h1.es {
  line-height: 100%;
}

#intake_screen .popup-content.back {
  line-height: 70%;
}

#intake_screen #count{
  font-size: 5em;
  color: white;
  z-index: 3;
  left: -1px;
  top: -10px;
}

#intake_screen #btn_submitname{
  width: 300px;
}

.button {
  cursor:pointer !important;
}

.centered {
  margin: 0;
  position: absolute;
  top: 88.5%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#circle {
  position: absolute;
  top: -6px;
  left: 0px;
}

#redbtn {
  position: absolute;
}

#face {
  top:-500px;
}

#facemask{
  top:-400px;
}

.popup {
  background: rgba(0,0,0,0.25);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.popup-content {

  width: 66%;
  height: 33%;
  border-radius: 12px;
  background: #ded9da;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

}

.popup-content.front {
  height: 20%;
  width: 76%;
  text-align: center;
}

.popup-content.back {
  height: 20%;
  width: 76%;
  text-align: center;
}

.popup-content.back #getready-count{
  font-size: 1.5em;
}

.popup-content .button{
  background: #aaa;
  width: 20%;
  margin: 0px auto;
}


#enter-name #nameinput{
  width: 66%;
  height: 80%;
  font-size: 3em;
  text-transform:uppercase;
}

.effect-blur {
  -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  filter: blur(7px);
}

/* - Playback Window - */
#playback_screen{
  width:640px;
  height:480px;
}

/* - Name Tag - */
#nametag_screen{
  width:4080px;
  height:768px;
  overflow: hidden;
  background: white;
}

#nametag_screen h1{

  font-size: 905px;
  line-height: 872px;
  font-family: 'm_1mbold';
  text-transform:uppercase;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;

  color: black;
}

#nametag_screen h1.fit4{
  font-size: 678px;
  line-height: 845px;
}

#nametag_screen h1.fit5{
  font-size: 544px;
  line-height: 825px;
}

