body{
  background: black;
}

#nametag_screen{
  position: absolute;
  top:0px;
  left:0px;
  width:4080px;
  height:768px;
  overflow: hidden;
  background: white;
}

#nametag_screen h1{
  font-size: 905px;
  line-height: 872px;
  font-family: 'm_1mbold';
  text-transform:uppercase;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: black;
}

#nametag_screen h1.fit4{
  font-size: 678px;
  line-height: 845px;
}

#nametag_screen h1.fit5{
  font-size: 544px;
  line-height: 825px;
}

