<link rel="stylesheet" href="style.css"></link>
<script src="index.js"></script>
<div refContent>
  <div id="numpad">
  		<span class="number">1</span>
  		<span class="number">2</span>
  		<span class="number lastitem">3</span><br />
  		<span class="number">4</span>
  		<span class="number">5</span>
  		<span class="number lastitem">6</span><br />
  		<span class="number">7</span>
  		<span class="number">8</span>
  		<span class="number lastitem">9</span><br />
      <span class="symbol">.</span>
  		<span class="number">0</span>
  		<span class="delete lastitem"><span class='svgIcon delSymbol'></span></span>
  	</div>
  </div>
